<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">

<head>
     <title>Manager Haseł</title>
</head>

<body>
<label >Nazwa:</label> <label th:text=${password.title}></label><br>
<label >Strona:</label> <label th:text=${password.site}></label><br>
<label >Login:</label> <label th:text=${password.login}></label><br>
<label >Password:</label> <label th:text=${password.password}></label><br>

<hr>
<form th:action="@{/password/delete/{id}(id=${password.id})}" method="post">
    <button type="submit">Usuń</button>
</form>

</body>
</html>